@import "element.styl"
form()
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow-y auto
  background $bgColor
  padding 8px 12px
  margin 8px
  border-radius 4px
  z-index 1
must-fix()
  position absolute
  margin-left 90%
  color $reject
  display none

// 修改form样式
.el-form
  margin-top 10px
.el-form-item
  margin-bottom 0 !important
.el-form-item__label
  text-align left !important
.el-form-item__content
  margin-left 0 !important
.el-form-item__error
  position relative !important
.el-input__inner
  border 0 !important
.el-textarea__inner
  border 0 !important
.el-radio-group
  margin-left 15px
.el-radio
  margin-right 24px !important
