@import "element.styl"
header()
  position fixed
  display block
  height 50px
  width 100%
  panel($height:50px, $fontSize:20px)
  top 0
  left 0
  right 0
  z-index 100

home()
  position fixed
  top 0
  left 8px
  background none !important
  border 0 !important
  font-size 20px !important
  margin-top 4px !important

left-arrow()
  position fixed
  top 0
  left 4px
  background none !important
  border 0 !important
  font-size 26px !important

//operation($right=12px)
//  position fixed
//  top 0
//  right $right
//  background none !important
//  border 0 !important
//  font-size 26px !important
//
person()
  position fixed
  top 4px
  right 12px
  background none !important
  border 0 !important
  font-size 20px !important
