@import "~@/styles/element.styl"
.wrapper
  //background #d8ecd3
  height 100vh
.scroll-content
  //background #c1ffb8
  padding 0
  margin 0
  min-height 100vh
  .top-tip
    //background red
    position relative
    text-align center
    font-size 14px
  .bottom-tip
    //background red
    height 35vh
    text-align center
    font-size 14px
